body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}


* {
  box-sizing: border-box;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.echarts {
  width: 100% !important;
  height: 100% !important;
}

.border {
  border: 1px solid #22aec5;
}

.block-padding {
  padding: 10px 20px;
}

html {
  font-size: 12px;
}

body {


  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  /* 滚动槽 */

  ::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
    border-radius: 10px;
    width: 10px;
  }

  /* 滚动条滑块 */

  ::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: #A0D2FF;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  }

  ::-webkit-scrollbar-thumb:window-inactive {
    background: #A0D2FF;
  }
}


body {
  user-select: none;
}

.mouse-pointer {
  cursor: pointer;
}
